:root {
    --primary-color--: #a50a06;
}
.App {
    min-height: 120vh;
}

body::-webkit-scrollbar {
    display: none;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.loading {
    display: flex;
    justify-content: center;
}

.item {
    width: 5px;
    height: 30px;
    background: black;
    margin: 2px;
    animation: wave 1s linear infinite;
    border-radius: 20px;
}

.item::nth-child(2) {
    animation-delay: 0.1s;
}
.item::nth-child(3) {
    animation-delay: 0.2s;
}
.item::nth-child(4) {
    animation-delay: 0.3s;
}
.item::nth-child(5) {
    animation-delay: 0.4s;
}
.item::nth-child(6) {
    animation-delay: 0.5s;
}
.item::nth-child(7) {
    animation-delay: 0.6s;
}
.item::nth-child(8) {
    animation-delay: 0.7s;
}
.item::nth-child(9) {
    animation-delay: 0.8s;
}
.item::nth-child(10) {
    animation-delay: 0.9s;
}

@keyframes wave {
    0% {
        transform: scale(0);
    }
    50% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}

@keyframes scale {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.overlay-login {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    animation: scale 0.4s linear;
}

.wrap {
    width: 35%;
    height: 450px;
    background: white;
    padding: 36px 48px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
        rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-radius: 5px;
}

#scroll {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 5px;
    background-color: aqua;
    width: 200px;
}
