<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <style>
            /* CSS styles for the email */
            body {
                font-family: Arial, sans-serif;
                padding: 20px;
                background-image: url('https://raw.githubusercontent.com/nguyenvancuong1ty/imagas/main/winer.png');
            }
            h1 {
                color: #333;
                border-bottom: 1px solid #ccc;
                padding-bottom: 10px;
            }
            .code-container {
                width: 50%;
                text-align: center;
                margin: 0 auto;
                border: 1px solid #ccc;
                background-color: #fff;
                padding: 20px;
                margin-top: 20px;
            }
            .expiration {
                font-weight: bold;
                color: #777;
                margin-top: 10px;
            }
        </style>
    </head>
    <body>
        <body>
            <div class="code-container">
                <p>This is your unique code for authentication:</p>
                <h2>👌👌👌 <%= code %> 👌👌👌</h2>
                <p class="expiration"><b>Expired code in 1 minute</b></p>
            </div>
        </body>
    </body>
</html>
